body {
    padding-top: 70px;
}
body > .navbar {
    transition: background-color 0.3s ease-in 0s;
}

.bs-docs-masthead .bs-docs-booticon {
    margin: 0 auto 30px;
}
.bs-docs-booticon-outline {
    background-color: transparent;
    border: 1px solid #cdbfe3;
}
.bs-docs-booticon-lg {
    font-size: 108px;
    height: 144px;
    line-height: 140px;
    width: 600px;
}
.bs-docs-booticon {
    background-color: #3498db;
    border-radius: 15%;
    color: #fff;
    cursor: default;
    display: block;
    font-weight: 500;
    text-align: center;
}
.bs-docs-masthead {
    padding: 80px 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.not-active {
    pointer-events: none;
    cursor: default;
}